@model IEnumerable<biblioteca2.Models.articulos>
@{
    ViewBag.Title = "Articulos";
}
<h2>Articulos</h2>

<p class="tit">
     Ultimas 10 publicaciones de ARTICULOS
</p>
<div class="tipo">
    <p class="cat">Categorias</p>
    @foreach (var t in ViewBag.tipo)
    {
    <div class="tipo1">
        <a href="">@t.tipo   </a>
    </div>
    }
</div>
<div class="div1">
    <div class="div2">
        <div class="vista">
        @foreach (var item in @ViewBag.lib)
        {
           <div style="float:left;">
                @{string img1 = "~/Content/Imagenes/" + @item.avatar;}<img src="@Url.Content(img1)" width="100" height="100"/><br>
                 Publicado por<br/>
                 Nombre:   @item.nombre<br/>
                 Apellido: @item.apellido
           </div>
            <div class="div3">
                <div class="div4"><p><a id="menu1"href="http://localhost:4391/Home/detallearticulo/@item.idpublicacion">@item.titulo</a></p>
                </div>
                
                <div class="des">
                    <div class="u">@{string img55 = "~/Content/Imagenes/"+@item.portada;}<img src="@Url.Content(img55)" width="200" height="200"style="border-radius:15px;float:left;"/>@item.descripcion</div>
                </div>
                <div>
                    @{string img3 = "~/Content/Imagenes/estrella.jpg";}<img src="@Url.Content(img3)" width="30" height="30" /> @item.puntaje
                </div>
            </div>
            
        }
        </div> 
    </div>   
    <div class="div6">
        <ul id="listticker">
        @foreach (var ite in @ViewBag.lib)
        {
            <li style="opacity: 1; ">
		    @{string img = "~/Content/Imagenes/" + @ite.portada;}<img src="@Url.Content(img)" width="70" height="80"/>
		    <a href="http://localhost:4391/Home/detallearticulo/@ite.idpublicacion" class="news-title">@ite.titulo</a>
		    <span class="news-text">@ite.descripcion</span>
	        </li>
        }    
        </ul>
    </div>
</div>
