@{
    ViewBag.Title = "articulos";
}

<h2>articulos</h2>
@if(ViewBag.arti != null)
{
    <div>
    @foreach(var item in ViewBag.arti)
     {
        <table>
         <tr>
            <td>
                @item.titulo
            </td>
         </tr>
           <tr>
                <td>
                @item.avatar
                @item.nombre
                @item.apellido
                </td>
                <td>
                 @{string img1 = "~/Content/Imagenes/" + @item.portada;}<img src="@Url.Content(img1)" width="150" height="150"/>
                 @item.descripcion
                </td>
           </tr>
           @foreach(var d in ViewBag.ca){
                <tr>
                <td>
                    @d.tipo
                </td>
                </tr>
           }
    </table>
    }</div>
}
else
{   @ViewBag.error}
