@model biblioteca2.Models.RegisterModel
@{
    ViewBag.Title = "Home Page";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#tabs1 .tab > ul > li').click(function () {
            var clicktab = $(this);
            var IDlistaActual = $('.tab > ul').find('li.activo').find('a').attr("href");
            var IDlistaNueva = clicktab.find('a').attr("href");
            var contenedor = $('#tabs1 .tabs-content');
            var alturaActual = contenedor.height();


            if (IDlistaActual != IDlistaNueva) {

                //fijo la altura actual
                contenedor.height(alturaActual);
                $(IDlistaActual).fadeOut(200, function () {
                    $(IDlistaNueva).fadeIn(300);
                    var nuevaAltura = $(IDlistaNueva).height();
                    contenedor.animate({ height: nuevaAltura });
                });
                //botones
                $('.tab > ul > li').removeClass('activo');
                clicktab.addClass('activo');
                contenedor.click(function () {
                    contenedor.height('auto');
                });
            }
            return false;
        });
    });
		
</script>

<h2>@ViewBag.Message</h2>
	
<p class="menu1">BIENVENIDO USUARIO</p>
<div id="container"><div id="top-bar"><div class="title"><a>AUTORES Milton,Angel,Nancy</a></div><div class="link"></div><p>Publicaciones de Libros .PDF, Articulos, Cursos, Tutoriales Seleccion</p></div>
<div id="demo-container">
<div id="tabs1" class="tab-wrapper">
<div class="tab">
	<ul>
		<li class="activo"><a href="#pestana1">Libros</a></li>
		<li><a href="#pestana2">Articulos</a></li>
		<li><a href="#pestana3">Cursos</a></li>
        <li><a href="#pestana4">Tutoriales</a></li>
	</ul>
	<div style="clear:both;"></div>
</div>
<div class="tabs-content">
	<div class="pestana" id="pestana1">
    @if (ViewBag.libro != null)
    {
        <div>
		@foreach (var l in ViewBag.libro)
        {
            <div class="titulo" style="margin-top:10px;">
                @l.titulo
            </div>
            <div class="cuerpo" style="overflow:hidden;">
                <div style="float:left;">
                    @{string img = "~/Content/Imagenes/" + @l.portada;}<img src="@Url.Content(img)" width="150" height="150"/>
                    
                </div>
                <div>
                    @l.descripcion
                </div>
            </div>
            <div class="cuerpo">
                @l.fecha_publicacion
            </div>
        }
       </div>
    }
    else { @ViewBag.error}
	</div>
	<div class="pestana" style="display: none;"id="pestana2">
		@if (ViewBag.articulo != null)
    {
        <div>
		@foreach (var a in ViewBag.articulo)
        {
            <div class="titulo" style="margin-top:10px;">
                @a.titulo
            </div>
            <div>
                <div class="cuerpo" style="overflow:hidden;">
                    @Html.Raw(@a.contenido)
                </div>
                <div class="cuerpo">
                    @a.descripcion
                </div>
            </div>
            <div class="cuerpo">
                @a.fecha_publicacion
            </div>
        }
       </div>
    }
    else { @ViewBag.error}
	
	</div>
	<div class="pestana" style="display: none;"id="pestana3">
		@if (ViewBag.curso != null)
    {
        <div>
		@foreach (var c in ViewBag.curso)
        {
            <div class="titulo" style="margin-top:10px;">
                @c.titulo
            </div>
            <div>
                <div class="cuerpo" style="overflow:hidden;">
                    @Html.Raw(@c.contenido)
                </div>
                <div class="cuerpo">
                    @c.descripcion
                </div>
            </div>
            <div class="cuerpo">
                @c.fecha_publicacion
            </div>
        }
       </div>
    }
    else { @ViewBag.error}
	
	</div>
    <div class="pestana" style="display: none;"id="pestana4">
		@if (ViewBag.tutorial != null)
    {
        <div>
		@foreach (var t in ViewBag.tutorial)
        {
            <div class="titulo" style="margin-top:10px;">
                @t.titulo
            </div>
            <div>
                <div class="cuerpo" style="overflow:hidden;">
                    @Html.Raw(@t.contenido)
                </div>
                <div class="cuerpo">
                    @t.descripcion
                </div>
            </div>
            <div class="cuerpo">
                @t.fecha_publicacion
            </div>
        }
       </div>
    }
    else { @ViewBag.error}
	
	</div>
</div>
</div>
