@model biblioteca2.Models.coment
@{
    ViewBag.Title = "coment1";
}

<h2>coment1</h2>
<h2 class="tit">MODERADOR Comentarios sin revisar</h2>

<div class="coment">
<div class="usuario1">
    <div>
    <p class="fech">Comentario Fecha</p>
       @foreach (var ct in ViewBag.cat)
       {
            <a href="http://localhost:4391/coment/coment/@ct.idpublicacion">@ct.fecha_publicacion<br/></a>
       }
    </div>     
</div>
<div class="table">
    @if (ViewBag.contenido != null)
    {
      <div class="table"style="width:auto;overflow:scroll;height:auto;">
      
        @foreach (var c in ViewBag.contenido)
        {
            <div class="titulo">
                <div>
                    @c.titulo
                </div>
            </div>
            <div style="overflow:hidden;">
                <div class="cuerpo1" >
                    @{string img = "~/Content/Imagenes/" + @c.avatar;}<img src="@Url.Content(img)" width="70" height="70"/><br/>
                    @c.nombre
                    @c.apellido
                </div>
                <div class="con">
                    <div class="texto "style="background-color:Black;margin-left:25%;overflow:scroll;min-height:200px;">@c.contenido</div><br/>
                    @c.fecha_publicacion
                </div>
            </div>
           <div style="background-color:Black;">
            </div>
        }
      </div>
      
    }
    else
    {
    <h3>@ViewBag.error</h3>
    }
</div>
</div>
