@model biblioteca2.Models.coment
@{
    ViewBag.Title = "coment";
}

<h2 class="tit">MODERADOR Comentarios sin revisar</h2>

<div class="coment">
<div class="usuario1">
    <div>
    <p class="fech">Comentario Fecha</p>
       @foreach (var ct in @ViewBag.cat)
       {
            <a href="http://localhost:4391/coment/coment/@ct.idpublicacion">@ct.fecha_publicacion<br/></a>
       }
    </div>     
</div>
</div>
<div class="table">
        @if (@ViewBag.contenido != null)
        {
              <div class="table">
      
                @foreach (var c in @ViewBag.contenido)
                {
                    <div>
                        <div class="titulo">
                            <div>
                                @c.titulo
                            </div>
                        </div>
                        <div style="overflow:hidden;">
                            <div class="cuerpo1" >
                                @{string img = "~/Content/Imagenes/" + @c.avatar;}<img src="@Url.Content(img)" width="70" height="70"/><br/>
                                @c.nombre
                                @c.apellido
                            </div>
                            <div class="con">
                                <div class="texto "style="background-color:Black;margin-left:25%;overflow:scroll;min-height:200px;">@c.contenido</div>
                                   <div> @if(@ViewBag.img!=null){
                                        <div>
                                            @{string img4 = "~/Content/Imagenes/" + @ViewBag.img;}<img src="@Url.Content(img4)" width="70" height="70"/><br/>
                                        </div>
                                    }else{<div>@{string img5 = "~/Content/Imagenes/" + @ViewBag.img1;}<img src="@Url.Content(img5)" width="70" height="70"/></div><br/>}
                                 
                                    <div>@c.fecha_publicacion</div>
                              </div>
                            </div>
                           <div style="background-color:Black;">
                                <a href="http://localhost:4391/coment/editcoment/@c.idpublicacion">@{string img1 = "~/Content/Images/acept.jpg";}<img src="@Url.Content(img1)" width="150" height="50" style="border-radius:10px;margin-left:50px;"/></a>
                                <a href="http://localhost:4391/coment/eliminarcomet/@c.idpublicacion">@{string img2 = "~/Content/Images/reject.jpg";}<img src="@Url.Content(img2)" width="150" height="50" style="border-radius:10px;margin-left:50px;"/></a> 
                            </div>
                        
                        </div>
                    </div>
                }
               
               </div>
      
    }else{<h3>@ViewBag.error</h3>}
    
</div>
