@model biblioteca2.Models.publicmodel
@{
    ViewBag.Title = "editarlibro";
}

<h2>editarlibro</h2>
@foreach(var item in @ViewBag.libro){
<form enctype="multipart/form-data" method="post" action="@Url.Action("libros","Home")">
        <fieldset>
            <legend>Registro de Libro</legend>
            <div class="clearfix">
                @Html.LabelFor(m => m.Titulo)
                <div class="input">
                    @Html.TextBoxFor(m => m.Titulo, new { @class = "texto", @Value =@item.titulo})
                    @Html.ValidationMessageFor(m => m.Titulo)
                </div>
            </div> 
            
           <div class="clearfix">
                @Html.LabelFor(m => m.Portada)
                <div class="input">
                    <!--input type="file" id="file_upload_1"/-->
                    <input class="texto" type="file" name="Portada" /> 
                    @Html.ValidationMessageFor(m => m.Portada)
                </div>
            </div>
            
             <div class="clearfix">
                @Html.LabelFor(m => m.Contenido)
                <div class="input">
                    <input class="texto"type="file"  name="Contenido" />
                    @Html.ValidationMessageFor(m => m.Contenido)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Descripcion)
                <div class="input">
                    @Html.TextAreaFor(m => m.Descripcion, new {@item.descripcion, @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="texto" value="Editar" />
                
            </div>
        </fieldset>   
</form>
}