@model biblioteca2.Models.articulomodelo
@{
    ViewBag.Title = "editararticulo";
}

<h2>editararticulo</h2>
@foreach(var item in @ViewBag.libro){
<form enctype="multipart/form-data" method="post" action="@Url.Action("actualizara","reedicion")">
        <fieldset>
            <legend>Registro de Libro</legend>
            <div class="clearfix">
                <div class="input">
                    @Html.TextBoxFor(m => m.idPublicacion, new { @class = "texto", @Value =@item.idPublicacion})
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Titulo)
                <div class="input">
                    @Html.TextBoxFor(m => m.Titulo, new { @class = "texto", @Value =@item.titulo})
                    @Html.ValidationMessageFor(m => m.Titulo)
                </div>
            </div> 
            
           <div class="clearfix">
                @Html.LabelFor(m => m.Portada)
                <div class="input">
                    <!--input type="file" id="file_upload_1"/-->
                    <input class="texto" type="file" name="Portada"  value="@item.portada"/> 
                    @Html.ValidationMessageFor(m => m.Portada)
                </div>
            </div>
             <div class="clearfix">
                @Html.LabelFor(m => m.Descripcion)<br>
                Realice una nueva descripcion de su publicacion
                <div class="input">
                    <textarea class="texto" name="Descripcion">@item.descripcion</textarea>
                    
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>
             <div class="clearfix">
                @Html.LabelFor(m => m.Contenido)
                <div class="editor-field">
                    <textarea class="ckeditor" name="Contenido">@item.contenido</textarea>
                    @Html.ValidationMessageFor(model => model.Contenido)
                </div>
            </div>
           
            <div class="actions">
                <input type="submit" class="texto" value="Editar" />
                
            </div>
        </fieldset>   
</form>
}