@{
    ViewBag.Title = "aceptsolisitud";
}
<style>
    .tbl{margin-left:20%;}
    .tdd{background-color:silver;}
    .tr{background-color:purple;color:black;}
    .dii{border:3px solid purple;padding:20px;text-align:center;}
</style>
<h2 class="tit">aceptsolisitud</h2>
<div class="dii">
    <table class="tbl">
        <tr class="tr">
            <td class="tr"># solisitud</td>
            <td class="tr">Infraccion</td>
            <td class="tr">Karma</td>
            <td class="tr">Solisitudes</td>
            <td class="tr">Fecha-Solisitada</td>
            <td class="tr">Aceptaciones</td>
            <td class="tr">Rechasos</td>
        </tr>
        @foreach(var item in @ViewBag.sol){
            <tr>
                <td class="tdd">@item.id</td>
                <td class="tdd">@item.infraccion</td>
                <td class="tdd">@item.karma</td>
                <td class="tdd">@item.solisitudes1</td>
                <td class="tdd">@item.fecha</td>
                <td class="tdd"><a href="http://localhost:4391/solisitud/aceptarsol?UserId=@item.userid">Aceptar</a></td>
                <td class="tdd"><a href="http://localhost:4391/solisitud/rechazarsol?UserId=@item.userid">Rechazar</a></td>
            </tr>
        }
    </table>
</div>