@model biblioteca2.Models.cursos
@{
    ViewBag.Title = "curso";
}

<h2>curso</h2>

<h2>BIENVENIDO AL FORMULARIO DE REGISTRO DE CURSOS</h2>
<form enctype="multipart/form-data" method="post" action="@Url.Action("curso","curso")">
        <fieldset>
            <legend>Registro de Articulo</legend>
            <div class="clearfix">
                @Html.LabelFor(m => m.Titulo)
                <div class="input">
                    @Html.TextBoxFor(m => m.Titulo ,new{@class="texto"})
                    @Html.ValidationMessageFor(m => m.Titulo)
                </div>
            </div> 
            
            <div class="clearfix">
                @Html.LabelFor(m => m.Categoria)
                <div class="input">
                    @Html.TextBoxFor(m => m.Categoria, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Categoria)
                </div>
            </div>
                
             <div class="clearfix">
                @Html.LabelFor(m => m.Descripcion)
                <div class="input">
                    @Html.TextAreaFor(m => m.Descripcion, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>  
             <div class="editor-label">
                @Html.LabelFor(model => model.Contenido)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Contenido, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Contenido)
            </div>
            
            
            <div class="actions">
                <input type="submit" class="texto" value="Guardar" />
                <input type="button" class="btn" value="Cancelar" />
            </div>
        </fieldset>   
</form>