@model biblioteca2.Models.cursos


@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "emailDialog" }))
{
    // @Html.ValidationSummary(true)

    //@Html.EditorForModel()
       
   <form enctype="multipart/form-data" method="post" action="@Url.Action("curso", "curso")">
        <fieldset>
            <legend>Registro de Cursos</legend>
            <div class="clearfix">
                @Html.LabelFor(m => m.Titulo)
                <div class="input">
                    @Html.TextBoxFor(m => m.Titulo, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Titulo)
                </div>
            </div> 
            
           <div class="clearfix">
                @Html.LabelFor(m => m.Portada)
                <div class="input">
                    <input class="texto "type="file" name="Portada"> 
                    @Html.ValidationMessageFor(m => m.Portada)
                </div>
            </div>
              
            <div class="clearfix">
                @Html.LabelFor(m => m.Categoria)
                <div class="input">
                    @Html.TextBoxFor(m => m.Categoria, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Categoria)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Descripcion)
                <div class="input">
                    @Html.TextAreaFor(m => m.Descripcion, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>
             <div class="editor-label">
                @Html.LabelFor(model => model.Contenido)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Contenido, new { @class = "texto" })
                @Html.ValidationMessageFor(model => model.Contenido)
            </div>
            <p>
                <input type="submit" value="Guardar" class="texto"/>
                
            </p>
        </fieldset>   
</form>
}