@{
    ViewBag.Title = "mod";
}
<h2 class="titulo">Moderador</h2>
<div>
<div class="colum">
    <p class="fech">LIBROS</p>
    <div>
       @foreach (var ct in ViewBag.pub1)
       {
           <div>
           <a href="http://localhost:4391/modcontenido/modcontenido/@ct.idPublicacion">@{string img = "~/Content/Imagenes/" + @ct.portada;}<img src="@Url.Content(img)" width="20" height="20"/></a>
           <a href="http://localhost:4391/modcontenido/modcontenido/@ct.idPublicacion">@ct.fecha_publicacion<br/></a>
           </div>
       }
    </div> 
</div>
<div class="colum">
    <p class="fech">ARTICULO</p>
    <div>
       @foreach (var ct in ViewBag.pub2)
       {
           <div>
           <a href="http://localhost:4391/modcontenido/modarticulo/@ct.idPublicacion">@{string img = "~/Content/Imagenes/" + @ct.portada;}<img src="@Url.Content(img)" width="20" height="20"/></a>
           <a href="http://localhost:4391/modcontenido/modarticulo/@ct.idPublicacion">@ct.fecha_publicacion<br/></a>
           </div>
       }
    </div> 
</div>
<div class="colum">
    <p class="fech">CURSOS</p>
    <div>
       @foreach (var ct in ViewBag.pub3)
       {
           <div>
           <a href="http://localhost:4391/modcontenido/modcurso/@ct.idPublicacion">@{string img = "~/Content/Imagenes/" + @ct.portada;}<img src="@Url.Content(img)" width="20" height="20"/></a>
           <a href="http://localhost:4391/modcontenido/modcurso/@ct.idPublicacion">@ct.fecha_publicacion<br/></a>
           </div>
       }
    </div> 
</div>
<div class="colum">
    <p class="fech">TUTORIALES</p>
    <div>
       @foreach (var ct in ViewBag.pub4)
       {
           <div>
           <a href="http://localhost:4391/modcontenido/modtutorial/@ct.idPublicacion">@{string img = "~/Content/Imagenes/" + @ct.portada;}<img src="@Url.Content(img)" width="20" height="20"/></a>
           <a href="http://localhost:4391/modcontenido/modtutorial/@ct.idPublicacion">@ct.fecha_publicacion<br/></a>
           </div>
       }
    </div> 
</div>
</div>