@model biblioteca2.Models.perfilusers

@{
    ViewBag.Title = "perfil";
}

<h2>REGISTRO DE PERFIL DE USUARIO</h2>
@{
    ViewBag.error = "er"; 
}
<form enctype="multipart/form-data" method="post" action="@Url.Action("perfil")">
        <fieldset>
            <legend>Account Information</legend>

            <div class="clearfix">
                @Html.LabelFor(m => m.nombre)
                <div class="input">
                    @Html.TextBoxFor(m => m.nombre)
                    @Html.ValidationMessageFor(m => m.nombre)
                </div>
            </div>           

            <div class="clearfix">
                @Html.LabelFor(m => m.apellido)
                <div class="input">
                    @Html.TextBoxFor(m => m.apellido)
                    @Html.ValidationMessageFor(m => m.apellido)
                </div>
            </div>
           
            <div class="clearfix">
                @Html.LabelFor(m => m.ubicacion)
                <div class="input">
                    @Html.TextBoxFor(m => m.ubicacion)
                    @Html.ValidationMessageFor(m => m.ubicacion)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.interes)
                <div class="input">
                    @Html.EditorFor(m => m.interes)
                    @Html.ValidationMessageFor(m => m.interes)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.avatar)
                <div class="input">
                    <input type="file"  name="Avatar" />
                    @Html.ValidationMessageFor(m => m.avatar)
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn primary" value="Guardar" />
                <input type="button" class="btn" value="Cancelar" />
            </div>
        </fieldset>   
</form>

