@model biblioteca2.Models.perfilext


@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "emailDialog" }))
{
    //@Html.ValidationSummary(true)

    //@Html.EditorForModel()
    <form class="form1" enctype="multipart/form-data" method="post" action="@Url.Action("perfil")">
        <fieldset style="width:auto !important">
            <legend></legend>

            <div class="clearfix">
                @Html.LabelFor(m => m.Nombre)
                <div class="input">
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>
            </div>           

            <div class="clearfix">
                @Html.LabelFor(m => m.Apellido)
                <div class="input">
                    @Html.TextBoxFor(m => m.Apellido, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Apellido)
                </div>
            </div>
           
            <div class="clearfix">
                @Html.LabelFor(m => m.Ubicacion)
                <div class="input">
                    @Html.TextBoxFor(m => m.Ubicacion, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Ubicacion)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.Interes)
                <div class="input">
                    @Html.TextAreaFor(m => m.Interes, new { @class = "texto" })
                    @Html.ValidationMessageFor(m => m.Interes)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.Avatar)
                <div class="input">
                    <input type="file"  name="Avatar" />
                    @Html.ValidationMessageFor(m => m.Avatar)
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="texto" value="Guardar" />
                <input type="button" class="texto" value="Cancelar" />
            </div>
        </fieldset>   
</form>
}